<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TravelApp</title>
    </head>
    <body>
        <header class="page__header">
            <nav>
                <h3 class="AppName">TravelApp</h3>
                <ul id="navbar__list">
                    <li><a id="Home" class="menu__link">Home</a></li>
                    <li><a id="About" class="menu__link">About</a></li>
                    <li><a id="Contact Us" class="menu__link">Contact Us</a></li>
                </ul>
            </nav>
        </header>
        <div id="TravelHeader">
            <h1>Travel Planner</h1>
        </div>
        <div id = "app">
            <section class ="holderCountry">
                <label for="country">Your Next Travel To</label>
                <input type="text" id="TravelCountry" placeholder="Country">
            </section>
            <section class ="holderDate">
                <label for="date">Travel Date</label>
                <input type="date" class= "myInput" id="TravelDate" >
            </section>
        </div>
        <div id="btnbox">
            <button id="generate" type = "submit"> Generate </button>
        </div>
        <div class ="holderEntry">
            <section id="FirstPart">
                <img id="CountryImg" src="">
            </section>
            <section id = "SecondPart">
                <div id = "latitude"></div> 
                <div id = "longitude"></div>
                <div id = "country"></div>
                <div id="theDate"></div>
                <img id="weatherImg" src="../images/istockphoto-1212755900-170667a.jpg">
                <div class = "weathertitle">The Weather Will Be:</div>
                <div id="HighTemp"></div>
                <div id="LowTemp"></div>
                <button id="SaveTrip">Save Trip</button>
                <button id="RemoveTrip">Remove Trip</button>
            </section>
        </div>
        <footer>
            <p id="footpara">TravelApp @Copyright 2020/2021</p>
        </footer>
    </body>
</html>