<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>TravelApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header class="page__header">
            <h3 class="AppName">TravelApp</h3>
        </header>
        <div id="TravelHeader">
            <h1>Travel Planner</h1>
        </div>
        <div id = "app">
            <section class ="holderCountry">
                <label>Your Next Travel To</label>
                <input type="text" id="TravelCity" placeholder="City">
            </section>
            <section class ="holderDate">
                <label>Travel Date</label>
                <input type="date" id="TravelDate">
            </section>
        </div>
        <div id="btnbox">
            <button id="generate" type = "submit" onclick="event => Client.GenerateData(event)"> Generate </button>
        </div>
        <div id ="holderEntry">
            <section id="FirstPart">
                <div id="CountryImg"></div>
            </section>
            <section id="SecondPart">
                <div id="latitude"></div> 
                <div id="longitude"></div>
                <div id="CityName"></div>
                <div id="country"></div>
                <div id="weatherCode"></div>
                <div id="weatherDesc"></div>
                <div id="Temp"></div>
                <div id="countDown"></div>
                <button id="SaveTrip" style="visibility: hidden;"></button>
                <button id="RemoveTrip" style="visibility: hidden;"></button>
            </section>
        </div>
        <footer id="FooterPart">
            <p id="footpara">TravelApp @Copyright 2020/2021</p>
        </footer>
        <!-- <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script> -->
    </body>
</html>