body {
    min-height: 100vh;
    background-color: rgb(0, 0, 100);
    background-image: url(../images/Plane-3.jpg);
    background-size: cover;
}

div#TravelHeader{
    h1 {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 4em;
        margin-top: 140px;
        color:darkkhaki;
        margin-left: 60px;
    }
}

@media (min-width: 601px) and (max-width: 1250px){
    body {
        min-height: 80vh;
        background-color: rgb(0, 0, 100);
    }

    div#TravelHeader {
        h1{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 3em;
            margin-top: 100px;
            color:darkkhaki;
            margin-left: 35px;
        }
    }
}

@media(max-width: 600px) { 
    body {
        min-height: 60vh;
        background-color: rgb(0, 0, 100);
    }

    div#TravelHeader {
        h1{
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 2.4em;
            margin-top: 80px;
            color:darkkhaki;
            margin-left: 25px;
        } 
    }
}