footer#FooterPart{
    text-align: center;
    height: 130px;  
    background-color:black;
    width: 100%;
    bottom: 0; 
    #footpara{
        line-height: 1.6em;
        color: green;
        width: 80%;
        font-size: 30px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color:burlywood;
        width: 100%;
        padding-top: 45px;  
    }
}


@media (min-width: 601px) and (max-width: 1100px){
    footer#FooterPart{
        text-align: center;
        height: 110px; 
        position:relative;
        bottom: 0; 
        p#footpara{
            line-height: 1.3em;
            color: green;
            width: 75%;
            font-size: 1.4em;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color:burlywood;
            width: 100%;
            padding-top: 40px;  
        }    
    }
}

@media(max-width: 600px) { 
    footer#FooterPart{
        text-align: center;
        height: 80px;  
        position:absolute;
        bottom: 0;
        p#footpara{
            line-height: 1.2em;
            color: green;
            width: 95%;
            font-size: 15px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color:burlywood;
            width: 100%;
            background-color: transparent;
            padding-top: 30px;  
        }
    }
}