/* $font-fam2: 'Oswald', sans-serif;
div#app{
    display: flex;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.5em;
    font-family: $font-fam2;
    margin-top: 100px;
}

section{
    label{
        display:block;
        font-size: 25px;
        color: coral;
    }
    input{
        display:block;
        height: 40px;
        width: 300px;
        background:#22b2da;
        font-size: 0.8em;
        font-family: $font-fam2;
        border: none;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

div#btnbox {
    text-align: center;
}
button#generate{
    width: 120px;
    height: 40px;
    background:orangered;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-bottom: 50px;
    border-radius: 15px;
}

section.holderEntry {
    margin: auto;
    background-color:brown;
    height: 30vh;
    width: 600px;
    opacity: 0.9;
    color:white;
    margin-bottom: 70px;
    font-size: 1.7em;
    padding-top: 10px;
    padding-left: 10px;
}

@media (min-width: 601px) and (max-width: 1250px){
    div#app{
        display: flex;
        justify-content: center;
        grid-gap: 0.8em;
        font-size: 1.2em;
        margin-top: 80px;
    }
    
    section{
        label{
            display:block;
            font-size: 20px;
            color: coral;
        }
        input{
            display:block;
            height: 30px;
            width: 240px;
            background:#22b2da;
            font-size: 0.6em;
            border: none;
            margin-top: 3px;
            margin-bottom: 20px;
        }
    }
    
    div#btnbox {
        text-align: center;
    }
    button#generate{
        width: 90px;
        height: 30px;
        background:orangered;
        font-size: 1em;
        border: none;
        margin-bottom: 40px;
        border-radius: 15px;
    }
    
    section.holderEntry {
        margin: auto;
        background-color:brown;
        height: 24vh;
        width: 450px;
        opacity: 0.9;
        color:white;
        margin-bottom: 50px;
        font-size: 1.5em;
        padding-top: 7px;
        padding-left: 7px;
    }
}

@media(max-width: 600px) { 
    div#app{
        display: flex;
        justify-content: center;
        grid-gap: 0.6em;
        font-size: 0.9em;
        margin-top: 60px;
    }
    
    section{
        label{
            display:block;
            font-size: 15px;
            color: coral;
        }
        
        input{
            display:block;
            height: 25px;
            width: 190px;
            background:#22b2da;
            font-size: 0.5em;
            border: none;
            margin-top: 2px;
            margin-bottom: 14px;
        }
    }
    
    div#btnbox {
        text-align: center;
    }
    
    button#generate{
        width: 70px;
        height: 20px;
        background:orangered;
        font-size: 0.9em;
        border: none;
        margin-bottom: 25px;
        border-radius: 15px;
    }
    
    section.holderEntry {
        margin: auto;
        background-color:brown;
        height: 20vh;
        width: 300px;
        opacity: 0.9;
        color:white;
        font-size: 1.2em;
        padding-top: 5px;
        padding-left: 5px;
    }

} */