$font-fam2: 'Oswald', sans-serif;
div#app{
    display: flex;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.5em;
    font-family: $font-fam2;
    margin-top: 100px;
}

section{
    label{
        display:block;
        font-size: 25px;
        color: coral;
    }
    input{
        display:block;
        height: 40px;
        width: 300px;
        background:#22b2da;
        font-size: 0.8em;
        font-family: $font-fam2;
        border: none;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

div#btnbox {
    text-align: center;
}
button#generate{
    width: 120px;
    height: 40px;
    background:orangered;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-bottom: 50px;
    border-radius: 15px;
}
button#generate:hover{
    color: wheat;
    background-color: rgb(92, 81, 81);
}

div#holderEntry {
    margin: auto;
    width: 600px;
    opacity: 0.9;
    color:white;
    margin-bottom: 70px;
    font-size: 1.7em;
    padding-top: 10px;
    padding-left: 10px;
    section#FirstPart{
        width: 40%;
        float: left;
        div#CountryImg{
            img{
                width: 220px;
                height: 210px;
            }
        }
    }
    section#SecondPart{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-gap: 15px;
        font-size: 0.7em;
        grid-template-areas: "tr tr as as"
        "gh gh er er"
        "cv cv cv cv"
        "bn bn bn bn"
        "lo lo lo lo"
        "jk jk kl kl"
    }
    div#latitude{
        grid-area: tr;
        font-size: 14px;
    }
    div#longitude{
        grid-area: as;
        font-size: 14px;
    }
    div#CityName{
        grid-area: gh;
    }
    div#country{
        grid-area: er;
    }
    div#weatherDesc{
        grid-area: cv;
    }
    div#Temp{
        grid-area: bn;
        font-size: 14px;
    }
    div#countDown{
        font-size: 1em;
        color:peru;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        grid-area: lo;
    }
    button#SaveTrip{
        grid-area: jk;
        height: 30px;
        width: 60%;
        background-color: orangered;
        border: none;
        border-radius: 20px;
        margin: 20px;
        margin-left: 5px;
    }
    button#SaveTrip:hover{
        background-color: yellow;
    }
    button#RemoveTrip{
        grid-area: kl;
        height: 30px;
        width: 60%;
        background-color: orangered;
        border: none;
        border-radius: 20px;
        margin: 20px;
    }
    button#RemoveTrip:hover{
        background-color: yellow;
    }
}


@media (min-width: 601px) and (max-width: 1100px){
    div#app{
        display: flex;
        justify-content: center;
        grid-gap: 0.8em;
        font-size: 1.2em;
        margin-top: 80px;
    }
    section{
        label{
            display:block;
            font-size: 20px;
            color: coral;
        }
        input{
            display:block;
            height: 30px;
            width: 240px;
            background:#22b2da;
            font-size: 0.6em;
            border: none;
            margin-top: 3px;
            margin-bottom: 20px;
        }
    }
    div#btnbox {
        text-align: center;
    }

    button#generate{
        width: 90px;
        height: 30px;
        background:orangered;
        font-size: 1em;
        border: none;
        margin-bottom: 40px;
        border-radius: 15px;
    }
    
    div#holderEntry {
        margin: auto;
        width: 450px;
        opacity: 0.9;
        color:white;
        font-size: 1.5em;
        padding-top: 7px;
        padding-left: 7px;
        margin-bottom: 50px;
        section#FirstPart{
            width: 45%;
            float: left;
            div#CountryImg{
                img{
                    width: 190px;
                    height: 190px;
                }
            }
        }
        div#latitude{
            grid-area: tr;
            font-size: 12px;
        }
        div#longitude{
            grid-area: as;
            font-size: 12px;
        }
        div#CityName{
            grid-area: gh;
        }
        div#country{
            grid-area: er;
        }
        div#weatherDesc{
            grid-area: cv;
        }
        div#Temp{
            grid-area: bn;
            font-size: 12px;
        }
        div#countDown{
            font-size: 0.8em;
            grid-area: lo;
        }
        button#SaveTrip{
            grid-area: jk;
            height: 30px;
            width: 70%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            margin: 15px;
            font-size: 0.8em;
        }
        button#RemoveTrip{
            grid-area: kl;
            height: 30px;
            width: 70%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            margin: 15px;
            font-size: 0.7em;
        }
    }
    
}

@media(max-width: 600px) { 
    div#app{
        display: flex;
        justify-content: center;
        grid-gap: 0.6em;
        font-size: 0.9em;
        margin-top: 60px;
    }
    section{
        label{
            display:block;
            font-size: 15px;
            color: coral;
        }
        
        input{
            display:block;
            height: 25px;
            width: 150px;
            background:#22b2da;
            font-size: 0.5em;
            border: none;
            margin-top: 2px;
            margin-bottom: 20px;
        }
    }
    
    div#btnbox {
        text-align: center;
    }
    
    button#generate{
        width: 70px;
        height: 25px;
        background:orangered;
        font-size: 0.9em;
        border: none;
        margin-bottom: 40px;
        border-radius: 15px;
    }
    
    div#holderEntry {
        margin: auto;
        width: 40vh;
        opacity: 0.9;
        color:white;
        font-size: 1.2em;
        padding-top: 5px;
        padding-left: 5px;
        section#FirstPart{
            width: 50%;
            float: left;
            div#CountryImg{
                img{
                    width: 120px;
                    height: 140px;
                }
            }
        }
        section#SecondPart{
            display: grid;
            grid-template-columns: repeat(4 , 1fr);
            grid-gap: 7px;
            font-size: 0.7em;
            grid-template-areas: "tr tr as as"
            "gh gh gh gh"
            "er er er er"
            "cv cv cv cv"
            "bn bn bn bn"
            "lo lo lo lo"
            "jk jk kl kl"
        }
        div#latitude{
            grid-area: tr;
            font-size: 9px;
        }
        div#longitude{
            grid-area: as;
            font-size: 9px;
        }
        div#CityName{
            grid-area: gh;
        }
        div#country{
            grid-area: er;
        }
        div#weatherDesc{
            grid-area: cv;
        }
        div#Temp{
            grid-area: bn;
            font-size: 9px;
        }
        div#countDown{
            font-size: 0.7em;
            grid-area: lo;
        }
        button#SaveTrip{
            grid-area: jk;
            height: 20px;
            width: 80%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            font-size: 0.6em;
        }
        button#RemoveTrip{
            grid-area: kl;
            height: 20px;
            width: 70%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            font-size: 0.6em;
            margin-left: 5px;
        }
    }
}