$font-fam2: 'Oswald', sans-serif;
div#app{
    display: flex;
    justify-content: center;
    grid-gap: 1em;
    font-size: 1.5em;
    font-family: $font-fam2;
    margin-top: 100px;
}

section{
    label{
        display:block;
        font-size: 25px;
        color: coral;
    }
    input{
        display:block;
        height: 40px;
        width: 300px;
        background:#22b2da;
        font-size: 0.8em;
        font-family: $font-fam2;
        border: none;
        margin-top: 5px;
        margin-bottom: 30px;
    }
}

div#btnbox {
    text-align: center;
}
button#generate{
    width: 120px;
    height: 40px;
    background:orangered;
    font-size: 1.3em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    margin-bottom: 50px;
    border-radius: 15px;
}

div.holderEntry {
    margin: auto;
    background-color:black;
    width: 600px;
    opacity: 0.9;
    color:white;
    margin-bottom: 70px;
    font-size: 1.7em;
    padding-top: 10px;
    padding-left: 10px;
    section#FirstPart{
        width: 40%;
        float: left;
        #countDown{
            font-size: 0.6em;
            color:peru;
        }
    }
    section#SecondPart{
        display: grid;
        grid-template-columns: repeat(4 , 1fr);
        grid-gap: 4px;
        font-size: 0.7em;
        grid-template-areas: "tr tr tr tr"
        "as as as as"
        "er er er er"
        "rt rt rt rt"
        "zx cv cv cv"
        "bn bn nm nm"
        "jk jk kl kl"
    }
    div#latitude{
        grid-area: tr;
        font-size: 14px;
    }
    div#longitude{
        grid-area: as;
        font-size: 14px;
    }
    div#country{
        grid-area: er;
    }
    div#theDate{
        grid-area: rt;
    }
    img#weatherImg{
        grid-area: zx;
        width: 60px;
        height: 60px;
        margin: auto;
        border-radius: 50px;
    }
    div.weathertitle{
        margin-top: 20px;
        grid-area: cv;
    }
    div#HighTemp{
        grid-area: bn;
        font-size: 14px;
    }
    div#LowTemp{
        grid-area: nm;
        font-size: 14px;
    }
    button#SaveTrip{
        grid-area: jk;
        height: 30px;
        width: 60%;
        background-color: orangered;
        border: none;
        border-radius: 20px;
        margin: 20px;
    }
    button#RemoveTrip{
        grid-area: kl;
        height: 30px;
        width: 60%;
        background-color: orangered;
        border: none;
        border-radius: 20px;
        margin: 20px;
    }
}


@media (min-width: 601px) and (max-width: 1250px){
    div#app{
        display: flex;
        justify-content: center;
        grid-gap: 0.8em;
        font-size: 1.2em;
        margin-top: 80px;
    }
    section{
        label{
            display:block;
            font-size: 20px;
            color: coral;
        }
        input{
            display:block;
            height: 30px;
            width: 240px;
            background:#22b2da;
            font-size: 0.6em;
            border: none;
            margin-top: 3px;
            margin-bottom: 20px;
        }
    }
    div#btnbox {
        text-align: center;
    }

    button#generate{
        width: 90px;
        height: 30px;
        background:orangered;
        font-size: 1em;
        border: none;
        margin-bottom: 40px;
        border-radius: 15px;
    }
    
    div.holderEntry {
        margin: auto;
        background-color:black;
        width: 450px;
        opacity: 0.9;
        color:white;
        font-size: 1.5em;
        padding-top: 7px;
        padding-left: 7px;
        div#countDown{
            font-size: 0.5em;
        }
        div#latitude{
            grid-area: tr;
            font-size: 12px;
        }
        div#longitude{
            grid-area: as;
            font-size: 12px;
        }
        div#country{
            grid-area: er;
        }
        div#theDate{
            grid-area: rt;
        }
        img#weatherImg{
            grid-area: zx;
            width: 45px;
            height: 45px;
            margin: auto;
            border-radius: 50px;
        }
        div.weathertitle{
            margin-top: 16px;
            grid-area: cv;
        }
        div#HighTemp{
            grid-area: bn;
            font-size: 12px;
        }
        div#LowTemp{
            grid-area: nm;
            font-size: 12px;
        }
        button#SaveTrip{
            grid-area: jk;
            height: 25px;
            width: 70%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            margin: 15px;
            font-size: 0.8em;
        }
        button#RemoveTrip{
            grid-area: kl;
            height: 25px;
            width: 70%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            margin: 15px;
            font-size: 0.8em;
        }
    }
    
}


@media(max-width: 600px) { 
    div#app{
        display: flex;
        justify-content: center;
        grid-gap: 0.6em;
        font-size: 0.9em;
        margin-top: 60px;
    }
    
    section{
        label{
            display:block;
            font-size: 15px;
            color: coral;
        }
        
        input{
            display:block;
            height: 25px;
            width: 190px;
            background:#22b2da;
            font-size: 0.5em;
            border: none;
            margin-top: 2px;
            margin-bottom: 20px;
        }
    }
    
    div#btnbox {
        text-align: center;
    }
    
    button#generate{
        width: 70px;
        height: 20px;
        background:orangered;
        font-size: 0.9em;
        border: none;
        margin-bottom: 40px;
        border-radius: 15px;
    }
    
    div.holderEntry {
        margin: auto;
        background-color:black;
        width: 300px;
        opacity: 0.9;
        color:white;
        font-size: 1.2em;
        padding-top: 5px;
        padding-left: 5px;
        div#countDown{
            font-size: 0.4em;
        }
        div#latitude{
            grid-area: tr;
            font-size: 9px;
        }
        div#longitude{
            grid-area: as;
            font-size: 9px;
        }
        div#country{
            grid-area: er;
        }
        div#theDate{
            grid-area: rt;
        }
        img#weatherImg{
            grid-area: zx;
            width: 35px;
            height: 35px;
            margin: auto;
            border-radius: 50px;
        }
        div.weathertitle{
            margin-top: 10px;
            grid-area: cv;
        }
        div#HighTemp{
            grid-area: bn;
            font-size: 9px;
        }
        div#LowTemp{
            grid-area: nm;
            font-size: 9px;
        }
        button#SaveTrip{
            grid-area: jk;
            height: 20px;
            width: 80%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            margin: 10px;
            font-size: 0.7em;
        }
        button#RemoveTrip{
            grid-area: kl;
            height: 20px;
            width: 80%;
            background-color: orangered;
            border: none;
            border-radius: 20px;
            margin: 10px;
            font-size: 0.7em;
        }
    }
}