.site-name {
    font-size: 1.8em;
    margin-left: 30px;
    color: tomato;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

.navbar__menu ul {
    width: 50%;
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
    cursor: pointer;
    font-family:'Times New Roman', Times, serif;
}

.navbar__menu .menu__link {
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color:white;
}

.page__header {
    background-color:rgb(95, 93, 93);
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar__list {
    padding-top: 15px;
}

@media (min-width: 601px) and (max-width: 1250px){
    .site-name {
        font-size: 1.6em;
        margin-left: 20px;
        color: tomato;
        margin-top: 15px;
        margin-bottom: 15px;
        float: left;
    }

    .navbar__menu ul {
        width: 55%;
        float: right;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style:none;
    }
    
    .navbar__menu .menu__link {
        font-size: 1.3em;
        font-weight: bold;
        text-decoration: none;
        color:white;
        padding: 0.8em;
    }

    .page__header {
        background-color:rgb(95, 93, 93);
        position: fixed;
        top: 0;
        width: 100%;
    }

    #navbar__list {
        padding-top: 17px;
    }
}

@media(max-width: 600px) { 
    .site-name {
        font-size: 1.3em;
        margin-left: 20px;
        color: tomato;
        margin-top: 13px;
        margin-bottom: 8px;
        float: left;
    }
    
    .navbar__menu ul {
        width: 60%;
        display: flex;
        align-items: center;
        list-style:none;
    }
    
    .navbar__menu .menu__link {
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        color:white;
        padding: 0.3em;
    }

    .page__header {
        background-color:rgb(95, 93, 93);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    #navbar__list {
        padding-top: 14px;
    }

}