$primary-color: tomato;
header h3{
    font-size: 1.8em;
    margin-left: 30px;
    color: $primary-color;
    margin-top: 15px;
    margin-bottom: 15px;
    float: left;
}

header.page__header {
    background-color:rgb(95, 93, 93);
    position: fixed;
    top: 0;
    width: 100%;
}



@media (min-width: 601px) and (max-width: 1250px){
    header h3{
        font-size: 1.6em;
        margin-left: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        float: left;
    }
    header.page__header {
        background-color:rgb(95, 93, 93);
        position: fixed;
        top: 0;
        width: 100%;
    }  
}

@media(max-width: 600px) {
    header h3{
        font-size: 1.3em;
        margin-left: 20px;
        margin-top: 13px;
        margin-bottom: 8px;
        float: left;
    }
    header.page__header {
        background-color:rgb(95, 93, 93);
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }
}